{% set url = path('ads_show', {'slug': ad.slug}) %}

<div class="col-md-4">
    <div class="card bg-light mb3">
        <div class="card-header text-center">
            {{ ad.rooms}} Rooms, <b>{{ ad.price}}&euro; / Night</b> <br>
            <small>Still available</small>
        </div>
        <a href="{{ url }}">
            <img src="{{ ad.coverImage }}" alt="image" style="height: 300px; width: 100%; display: block">
        </a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="{{ url }}">
                    {{ ad.title }}
                </a>
            </h4>
            <p class="card-text">
                {{ ad.introduction }}
            </p>
            <a href="{{ url }}" class="btn btn-primary">See more</a>

             {% if app.user and app.user == ad.author %}
                <a href="{{ path('ads_edit', {'slug' : ad.slug}) }}" class="btn btn-secondary">Update Post</a>
            {% endif %}
        </div>
    </div>
 </div>